@import '../../styles/common.scss';

.symbol {
  font-size: 7rem;
  font-weight: bold;
  transform: scale(1, 1.2);

  & span:first-of-type {
    color: $mainColor;
  }

  & span:nth-of-type(2) {
    color: red;
    margin-left: -2.4rem;
    transform: rotate(2deg) skew(-38deg, 0) translate(-6px, 3px) scale(.9);
    transform-origin: unset;
    display: inline-block;
    position: relative;
    z-index: -1;
  }
}